* {
    box-sizing: border-box;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    line-height: 1.5;
    font-size: 1.6rem;
    padding-bottom: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }