section {
    margin: 10px auto;
    article {
        display: flex;

        .imgWrapper {
            width: 25%;
            flex-grow: 1;
            img {
                width: 100%;
            }
        }
        .textWrapper {
            flex-grow: 3;
        }
    }
}