.hover (@fromColor, @toColor){
	animation-name: colorAnim;
	animation-duration: 2s;
	// font-weight: bold;

	@keyframes colorAnim {
		from {background-color: @fromColor;}
		to {background-color: @toColor;}
	}
}

.button-mixin (@fontColor, @fontSize, @borderColor, @borderRadius, @backgroundColor){
	color: @fontColor;
	font-size: @fontSize;
	border: 1px solid @borderColor;
	border-radius: @borderRadius;
    background-color: @backgroundColor;
	padding: 10px 40px;
    text-decoration: none;
}